[user]
	email = dave@davesquared.net
	name = David Tchepak
[alias]
	tree = log --oneline --graph --decorate=short --all
	co = checkout
	s = status -s
	lg = log --oneline --decorate --graph --all
[color]
	branch = auto
	diff = auto
	status = auto
[core]
	excludesfile = /Users/dtchepak/.gitignore_global
	autocrlf = input
	safecrlf = true
[init]
	templatedir = ~/.git-templates
[merge]
	tool = kdiff3
	log = true
	summary = true
	keepBackup = false
[diff]
	tool = kdiff3
	submodule = log
[mergetool "kdiff3"]
	path = kdiff3
	trustExitCode = false
	keepBackup = false
[mergetool]
	keepBackup = false
