[user]
	email = dave@davesquared.net
	name = David Tchepak
[alias]
	tree = log --oneline --graph --decorate=short --all
	co = checkout
	s = status -s
	lg = log --oneline --decorate --graph --all
[color]
	branch = auto
	diff = auto
	status = auto
[core]
	excludesfile = /Users/dtchepak/.gitignore_global
	autocrlf = input
	safecrlf = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[auto]
	crlf = =
[init]
	templatedir = ~/.git-templates
[merge]
	log = true
	summary = true
