[user]
	email = dave@davesquared.net
	name = David Tchepak
[alias]
	tree = log --oneline --graph --decorate=short --all
	co = checkout
	s = status -s
	lg = log --oneline --decorate --graph --all
    # From https://stackoverflow.com/a/4408378/906:
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
    # From https://preslav.me/2020/03/01/use-the-git-history/
    code-changes = "!git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -10"
    # List branches when tracked remote branch has been removed.
    # Pipe to "xargs git branch -D" to remove these.
    list-gone = "!git branch -vv | grep gone | awk '{print $1}'"
[color]
	branch = auto
	diff = auto
	status = auto
[core]
	excludesfile = /Users/dtchepak/.gitignore_global
	autocrlf = input
	safecrlf = true
[init]
	templatedir = ~/.git-templates
[merge]
	tool = kdiff3
	log = true
	summary = true
	keepBackup = false
[diff]
	tool = kdiff3
	submodule = log
[mergetool "kdiff3"]
	path = kdiff3
	trustExitCode = false
	keepBackup = false
[mergetool]
	keepBackup = false
[pull]
	ff = only
